body {
    background-color: rgb(152, 138, 242);
    padding-top: 60px; /* Отступ для фиксированного заголовка */

}
.top{
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-shadow:
    1px 1px 1px rgb(31, 4, 241),
    -1px 1px 1px rgb(31, 4, 241);
  color: white;
  transition: all .5s;
}

h1:hover {
  text-shadow:
    -1px -1px 1px rgb(5, 245, 0),
    1px -1px 1px rgb(5, 245, 0);
  color: white;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 20px;
       
}
.header span {
    margin-right: 250px;
    font-size: 30px;
    color: white;
    
}
.header {
  	position: fixed;
    background-color: rgb(153, 153, 248);
	width: 100%;
	height: 40px;
	top:0px;
	left:0px;
    z-index: 200;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-container {
  display: flex; /*тип*/
  justify-content: center;/*выравнивание*/
  }
.flex-item {
  background-color: rgb(153, 153, 248);
  padding: 10px;/*отступы внутри */
  margin: 5px; /*отступы снаружи*/
  border-radius: 15px;
  width: 250px;
}
.flex-item img {
  width: 25px;
  height: 25px;
}
.flex-item tr {
  color:rgb(255, 255, 0);
  font-size: 20px;
}
.flex-item p {
  color: white;
  text-align: center;
}
.flex-item table {
  margin: auto;
}
.box_flex-container1 {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  height: 100%;
  padding-top: 50px;
  margin-top: 50px;
}
.flex-container1 {
  display: flex; /*тип*/
  justify-content: center;/*выравнивание*/
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  }
.flex-item1 {
  background-color: rgb(239, 239, 239);
  padding: 10px;/*отступы внутри */
  margin: 15px; /*отступы снаружи*/
  border-radius: 15px;
  width: 250px;
  box-shadow: -5px 0px 0px 0px rgb(153, 153, 248);
}
.grid-container {
  display: grid;
  gap: 30px; /*расстояние между блоками*/
  justify-items: center;
}
.grid-item {
  background-color: rgb(239, 239, 239);
  width: 500px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}
.grid-item img {
 
  margin-right: 30px;
  margin-left: 0px;
}
.footer {
  color: white;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn {
  border-radius: 50%;
  background-color: blue;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  float: left;
}
.btn1 {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: rgb(5, 5, 157);
  border: none;
}
.btn1:hover {
  background-color: blue;
  transition: 1s;
  font-size: larger;

}
.header a {
 font-size: 25px;
  font-weight: normal;
  cursor: pointer;
  overflow: hidden;
  text-shadow: 0 0 white,
               0 0 rgb(90, 144, 244),
               0 0 rgb(42, 6, 151);
  color: transparent;
  transition: all 1s;
  }
  a:hover {
    text-shadow: -400px 0 rgb(244, 1, 78),
                 400px 0 rgb(141, 2, 2),
                 0 0 rgb(2, 40, 110);
    }

/*анимация подзоголовка в подвале*/
    .footer h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 
        1px 1px 0px #1b0280, 
        2px 2px 0px #8c55eb, 
        3px 3px 0px #aa9af3, 
        4px 4px 0px #a8dadc, 
        5px 5px 0px #457b9d;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    animation: spin-3d 20s infinite linear;
}

@keyframes spin-3d {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

h2 {
  scroll-margin-top: 150px;
  
}
html {
  scroll-behavior:smooth;
}